<header class="topbar">
  <div class="logo">Clínica Nkenza</div>
  <nav>
    <a routerLink="about">Sobre Nós</a>
    <a href="#services">Serviços</a>
    <a href="#appointments">Consultas</a>
    <a href="#contact">Contacto</a>
  </nav>
</header>

<section class="hero">
  <h1>Sorriso saudável, vida feliz</h1>
  <p>Bem-vindo à Clínica Dentária Nkenza — onde o seu bem-estar começa pelo sorriso.</p>
  <a href="#appointments" class="btn-primary">Marcar Consulta</a>
</section>

<section id="about" class="about">
  <h2 class="centro-subtitulo">Sobre Nós</h2>
  <div class="about-grid">
    <div class="about-text">
      <p>A Clínica Nkenza tem como missão oferecer cuidados dentários com excelência, conforto e tecnologia.</p>
      <p>Fundada em 2010, contamos com uma equipa experiente e especializada em diversas áreas da medicina dentária.</p>
    </div>
    <div class="about-imgs">
      <img src="../../../../public/imgBanner.webp" alt="Equipa médica">
      <img src="../../../../public/imgBanner.webp" alt="Espaço da clínica">
    </div>
  </div>
</section>

<section id="services" class="services">
  <h2 >Serviços</h2>
  <div class="service-cards">
    <div class="card"><h3>Limpeza</h3><p>Remoção de tártaro e placa para um sorriso saudável.</p></div>
    <div class="card"><h3>Ortodontia</h3><p>Alinhamento dentário com aparelhos modernos.</p></div>
    <div class="card"><h3>Clareamento</h3><p>Dentes mais brancos com técnicas seguras.</p></div>
    <div class="card"><h3>Implantes</h3><p>Substituição de dentes com implantes duradouros.</p></div>
  </div>
</section>

<section id="appointments" class="appointments">
  <h2>Marcação de Consultas</h2>
  <p>Escolha a melhor forma para agendar sua consulta:</p>
  <a href="https://wa.me/952289081" class="btn-primary">WhatsApp</a>
</section>

<section id="contact" class="contact">
  <h2>Localização e Contacto</h2>
  <div class="contact-grid">
    <div class="map">
      <iframe src="https://www.google.com/maps/embed?..." width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <div class="info">
      <p><strong>Endereço:</strong></p>
      <p><strong>Telefone:</strong> +244 935440784</p>
      <p><strong>Email:</strong> nkenzagmail.com</p>
    </div>
  </div>
</section>

<footer class="footer">
  <p>© 2025 Clínica Nkenza. Todos os direitos reservados.</p>
</footer>


